<div class="card widget" data-type="archives"
  style="transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s; opacity: 1; transform-origin: center top;">
  <div class="card-content">
    <div class="menu">
      <h3 class="menu-label"><%= widget.name %></h3>
      <ul class="menu-list">
        <% widget.archives.forEach(function(item) { %>
        <li>
          <a class="level is-mobile" href="<%= common.base %>/archives/<%= item.year %>/<%= item.month %>">
            <span class="level-start">
              <span class="level-item"><%= item.year %>年<%= item.month %>月</span>
            </span>
            <span class="level-end">
              <span class="level-item tag"><%= item.count %></span>
            </span>
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</div>