<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../components/head') -%>
  <title><%= pageData.title %></title>
</head>
<body>
  <div class="container">
    <%= text('系统检测到您还未安装APP_NAME') %><a href="//<%= common.host %>/install"><%= text('点击此处进行安装') %></a>
  </div>
</body>
</html>
