<!DOCTYPE html>
<html lang="<%= common.lang %>">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../components/head') -%>
  <title><%= pageData.title %></title>
</head>
<body class="is-2-column pace-done">
  <%- include('../components/nav') -%>
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column order-2 column-main is-8-tablet is-8-desktop is-8-widescreen">
          <div class="card" style="transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s; opacity: 1; transform-origin: center top;">
            <div class="card-image">
              <span class="image is-7by3">
                <img class="fill" src="<%= pageData.post.poster %>" alt="<%= pageData.post.title %>">
              </span>
            </div>
            <% 
              const wordCount = util.wordCount(util.removeHtmlTag(pageData.post.contentHtml));
            %>
            <article class="card-content article" role="article">
              <div class="article-meta is-size-7 is-uppercase level is-mobile">
                <div class="level-left">
                  <span class="level-item">
                    <time datetime="<%= util.dateFormat(pageData.post.postTime) %>" title="<%= util.dateFormat(pageData.post.postTime) %>"><%= util.dateBeautify(pageData.post.postTime) %></time>发表</span>
                    <span class="level-item"><%= util.getReadTime(wordCount) %> 分钟读完（大约<%= wordCount %>个字）</span>
                  </div>
              </div>
              <h1 class="title is-3 is-size-4-mobile"><%= pageData.post.title %></h1>
              <div class="content">
                <%- pageData.post.contentHtml %>
              </div>
              <div class="article-licensing box">
                <div class="licensing-title">
                  <p><%= pageData.post.title %></p>
                  <p>
                    <a href="<%= getUrl(3, pageData.post) %>" class="cursorsHover">
                      <%= getUrl(3, pageData.post) %>
                    </a>
                  </p>
                </div>
                <div class="licensing-meta level is-mobile">
                  <div class="level-left">
                    <div class="level-item is-narrow">
                      <div>
                        <h6>作者</h6>
                        <p>PPOffice</p>
                      </div>
                    </div>
                    <div class="level-item is-narrow">
                      <div>
                        <h6>发布于</h6>
                        <p>2016-01-05</p>
                      </div>
                    </div>
                    <div class="level-item is-narrow">
                      <div>
                        <h6>许可协议</h6>
                        <p>
                          <a class="icons" rel="noopener" target="_blank" title="Creative Commons" href="https://creativecommons.org/">
                            <i class="icon fab fa-creative-commons"></i>
                          </a>
                          <a rel="noopener" target="_blank" title="CC BY-NC-SA 4.0" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="article-tags is-size-7 mb-4">
                <span class="mr-2">#</span>
                <% pageData.tags.forEach(function(tag) { %>
                <a class="link-muted mr-2" rel="tag" href="<%= getUrl(6, tag) %>"><%= tag.name %></a>
                <% }) %>
              </div>
              <div class="sharethis-inline-share-buttons st-center  st-inline-share-buttons st-animated" id="st-1">
                <div class="st-total ">
                  <span class="st-label">171</span>
                  <span class="st-shares">
                    Shares
                  </span>
                </div>
                <div class="st-btn st-first" data-network="facebook" style="display: inline-block;">
                  <img alt="facebook sharing button" src="https://platform-cdn.sharethis.com/img/facebook.svg">
                </div>
                <div class="st-btn" data-network="twitter" style="display: inline-block;">
                  <img alt="twitter sharing button" src="https://platform-cdn.sharethis.com/img/twitter.svg">
                </div>
                <div class="st-btn" data-network="pinterest" style="display: inline-block;">
                  <img alt="pinterest sharing button" src="https://platform-cdn.sharethis.com/img/pinterest.svg">
                </div>
                <div class="st-btn" data-network="email" style="display: inline-block;">
                  <img alt="email sharing button" src="https://platform-cdn.sharethis.com/img/email.svg">
                </div>
                <div class="st-btn st-last" data-network="sharethis" style="display: inline-block;">
                  <img alt="sharethis sharing button" src="https://platform-cdn.sharethis.com/img/sharethis.svg">
                </div>
              </div>
            </article>
          </div>
          <nav class="post-navigation mt-4 level is-mobile">
            <% if (pageData.prev) { %>
            <div class="level-start">
              <a class="article-nav-prev level level-item link-muted" href="<%= getUrl(3, pageData.prev) %>">
                <i class="level-item fas fa-chevron-left"></i>
                <span class="level-item"><%= pageData.prev.title %></span>
              </a>
            </div>
            <% } %>
            <% if (pageData.next) { %>
            <div class="level-end">
              <a class="article-nav-next level level-item link-muted" href="<%= getUrl(3, pageData.next) %>">
                <span class="level-item"><%= pageData.next.title %></span>
                <i class="level-item fas fa-chevron-right"></i>
              </a>
            </div>
            <% } %>
          </nav>
        </div>
        <div class="column column-left is-4-tablet is-4-desktop is-4-widescreen order-1 is-sticky">
          <%- getWidgets('index-left') -%>
        </div> 
      </div>
    </div>
  </div>
  <%- include('../components/back-to-top') -%>
  <%- include('../components/footer') -%>
</body>

</html>