<div class="card">
  <div class="card-image">
    <a class="image is-7by3" href="<%= common.domain %>/post/<%= post.id %>">
      <img class="fill" src="<%= post.poster %>" alt="Getting Started with Icarus">
    </a>
  </div>
  <article class="card-content article" role="article">
    <div class="article-meta is-size-7 is-uppercase level is-mobile">
      <div class="level-left">
        <span class="level-item">发布于&nbsp;
        <time datetime="2020-04-01T00:00:00.000Z" title="4/1/2020, 12:00:00 AM">一年前</time>
        </span>
        <span class="level-item">需要阅读约3分钟 (一共 461 个字)</span>
      </div>
    </div>
    <h1 class="title is-3 is-size-4-mobile"><a class="link-muted" href="<%= common.domain %>/post/<%= post.id %>"><%= post.title %></a></h1>
    <div class="content">
      <p><%= post.summary %></p>
    </div>
    <a class="article-more button is-small is-size-7" href="<%= common.domain %>/post/<%= post.id %>">阅读更多</a>
  </article>
</div>
