<div class="card widget" data-type="categories" style="transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s; opacity: 1; transform-origin: center top;">
  <div class="card-content">
    <div class="menu">
      <h3 class="menu-label"><%= widget.name %></h3>
      <ul class="menu-list">
        <% widget.categories.forEach(function(cate) { %>
        <li>
          <a class="level is-mobile" href="<%= common.base %>/cate/<%= cate.id %>">
            <span class="level-start">
              <span class="level-item"><%= cate.name %></span>
            </span>
            <span class="level-end">
              <span class="level-item tag"><%= cate.count %></span>
            </span>
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</div>
