<div class="card widget" data-type="recent-posts">
  <div class="card-content">
    <h3 class="menu-label"><%= widget.name %></h3>
    <% widget.posts.forEach(function(post) { %>
    <article class="media">
      <% if (post.poster) { %>
      <figure class="media-left">
        <a class="image" href="<%= getUrl(3, post) %>">
          <img src="<%= post.poster %>" alt="Getting Started with Icarus">
        </a>
      </figure>
      <% } %>
      <div class="media-content">
        <p class="date"><time datetime="2020-04-01T00:00:00.000Z"><%= util.dateFormat(post.postTime, 'YYYY-MM-DD') %></time></p>
        <p class="title"><a href="<%= getUrl(3, post) %>"><%= post.title %></a></p>
        <p class="categories"><a href="<%= common.base %>/cate/<%= post.categoryId %>">未知分类</a></p>
      </div>
    </article>
    <% }); %>
  </div>
</div>
